.trendingMovieList {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 5px;
  justify-content: center;
}

.trendingMovieList {
  li {
    width: calc((100% - 60px) / 2);
    text-align: center;
    border: 1px solid #5BA199;
    border-radius: 15px 0px;
  }
}