.form {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form {
  input {
    width: 450px;
    padding-left: 17px;
    border-top-left-radius: 15px;
    background-color: rgba(229, 227, 228, 0.5);
    border: 1px solid #e5e3e4;
    font-size: 24px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
    transition: border var(--transition-time) var(--transition-effect);
  }

  input:hover {
    border: 1px solid #37806B;
  }

  input:focus {
    border: 1px solid #CAA892;
  }

  button {
    width: 150px;
    border-bottom-right-radius: 15px;
    border: 1px solid #37806B;
    background-color: #469597;
    color: #fbfbfb;
    text-transform: uppercase;
    font-family: "OpenSans";
    font-size: 24px;
    font-weight: 600;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
    transition: background-color var(--transition-time) var(--transition-effect), border-color var(--transition-time) var(--transition-effect), clolr var(--transition-time) var(--transition-effect);
  }

  button:hover {
    background-color: #fbfbfb;
    border-color: #CAA892;
    color: #CAA892;
  }
}