@import url('../src/assets/fonts/fonts.css');

:root {
  --transition-time: 350ms;
  --transition-effect: ease-in-out;
  --primary-font: 'Montserrat';
  --secondary-font: 'OpenSans';
  font-family: var(--primary-font);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #242424;
  background-color: #fbfbfb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
}

input,
textarea {
  color: inherit;
  outline: none;
}

textarea {
  resize: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding: 120px 0;
  /* border: 1px solid #60866B; */
  /* background-color: #E5E3E4; */
}

.container {
  max-width: 1280px;
  padding: 0 32px;
  margin: 0 auto;
  /* border: 1px solid #60866B; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}